# 3. Creating a Travel Itinerary Map.

In [19]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import config
import time
import gmaps.datasets
import pycountry
import json

In [20]:
# Import API key
g_key = "AIzaSyCUP-PHkSOv5KVGngoLk6tlI9ipwHOWv-s"

#from config import g_key #(not importing the key)

# Configure gmaps
gmaps.configure(api_key=g_key)

In [22]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/Weatherpy_vacation.csv")

vacation_df.head(10)

,City_ID,City,Country,Max Temp(C),Current Description,Lat,Lng,Hotel Name
0,2,Beatrice,US,29.36,scattered clouds,40.2681,-96.7470,Victorian Inn Beatrice
1,4,Georgetown,MY,26.96,few clouds,5.4112,100.3354,Cititel Penang
2,6,Rikitea,PF,24.87,overcast clouds,-23.1203,-134.9692,Pension Maro'i
3,10,Sibolga,ID,23.77,broken clouds,1.7427,98.7792,Hotel Syariah CN Darussalam
4,14,Arraial Do Cabo,BR,23.34,overcast clouds,-22.9661,-42.0278,Pousada Porto Praia
5,16,Tamandare,BR,24.52,scattered clouds,-8.7597,-35.1047,Pousada 100 Passos
6,19,Kapaa,US,28.44,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
7,22,Atuona,PF,26.77,broken clouds,-9.8000,-139.0333,Villa Enata
8,30,Muncar,ID,23.94,scattered clouds,-8.4333,114.3333,Zaky Homestay
9,31,Vaini,TO,25.09,broken clouds,-21.2000,-175.2000,Keleti Beach Resort

In [23]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>

<dt>Current Description</dt><dd>{Current Description} at {Max Temp(C)}</dd>

</dl>
"""
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [24]:
# 4a. Add a marker layer for each city to the map.

fig = gmaps.figure(center=(30.0, 33.0), zoom_level=1.7)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Bethel']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Bethel']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Roma']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Jamestown'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'New Kensington']

In [26]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()

print(start)
print(end)
print(stop1)
print(stop2)
print(stop3)

[41.3712 -73.414]
[41.3712 -73.414]
[43.2128 -75.4557]
[42.097 -79.2353]
[40.5698 -79.7648]

In [27]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

import gmaps
import gmaps.datasets
fig = gmaps.configure(api_key=g_key)
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
    start, end, waypoints=[stop1, stop2, stop3], 
    travel_mode='DRIVING')
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.

itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3],ignore_index=True)

itinerary_df

,City_ID,City,Country,Max Temp(C),Current Description,Lat,Lng,Hotel Name
0,99,Bethel,US,31.60,scattered clouds,41.3712,-73.4140,Courtyard by Marriott Danbury
1,32,Roma,US,31.92,clear sky,43.2128,-75.4557,Wingate By Wyndham Rome
2,101,Jamestown,US,27.83,broken clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
3,686,New Kensington,US,30.52,scattered clouds,40.5698,-79.7648,SpringHill Suites by Marriott Pittsburgh Mills

In [29]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp(C)} Â°C</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [30]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# fig.add_layer(marker_layer)
fig.add_layer(marker_layer )
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))